# Copyright (c) 2011, Code Aurora Forum. All rights reserved.
# Copyright (c) 2011-2012, LG Electronics Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

# LGE_S /* FEATURE_LGE_COLLECT_RAMDUMP */
on post-fs-data
    # LGE to copy ramdump
    mkdir /data/lge_modem_ramdump_loc 0775 system system
    mkdir /data/vendor/lge_modem_ramdump_loc 0775 system system
    mkdir /data/vendor/lge_ssrdump 0775 system system
    mkdir /data/vendor/lge_ssrdump/dumps 0775 system system

service ssrdump_noti /system_ext/bin/ssrdump_noti.sh
    user system
    group system
    disabled
    oneshot

service esoc_ssrdump_noti /system_ext/bin/esoc_ssrdump_noti.sh
    user system
    group system
    disabled
    oneshot

on property:persist.product.lge.moca.enable_ramdumps=0
    setprop persist.vendor.ssr.enable_ramdumps 0

on property:persist.product.lge.moca.enable_ramdumps=1
    setprop persist.vendor.ssr.enable_ramdumps 1

on cp-ssr-dump
# common
    chmod 0777 /data/lge_modem_ramdump_loc
    exec /system/bin/rm -r /data/lge_modem_ramdump_loc
    mkdir /data/lge_modem_ramdump_loc 0777 system system
# SM/MSM
    chmod 0444 /data/vendor/lge_ssrdump/lgedump.tar.gz
    copy /data/vendor/lge_ssrdump/lgedump.tar.gz /data/lge_modem_ramdump_loc/lgedump${persist.vendor.ssr.date}.tar.gz
    chmod 0644 /data/lge_modem_ramdump_loc/lgedump${persist.vendor.ssr.date}.tar.gz
    chmod 0444 /data/vendor/lge_modem_ramdump_loc/ssr_history.txt
    copy /data/vendor/lge_modem_ramdump_loc/ssr_history.txt /data/logger/ssr_history.txt
    copy /data/vendor/lge_modem_ramdump_loc/ssr_history.txt /data/lge_modem_ramdump_loc/ssr_history.txt
    chmod 0666 /data/vendor/lge_modem_ramdump_loc/ssr_history.txt
    chmod 0444 /data/logger/ssr_history.txt
    chmod 0444 /data/lge_modem_ramdump_loc/ssr_history.txt
# ESOC
    chmod 0444 /data/vendor/lge_ssrdump/lgedump_esoc.tar
    copy /data/vendor/lge_ssrdump/lgedump_esoc.tar /data/lge_modem_ramdump_loc/lgedump_esoc${persist.vendor.ssr.esoc_date}.tar
    chmod 0644 /data/lge_modem_ramdump_loc/lgedump_esoc${persist.vendor.ssr.esoc_date}.tar
# SDX50M
    copy /data/vendor/tombstones/SDX50M/ssr_esoc_history.txt /data/logger/ssr_esoc_history.txt
    copy /data/vendor/tombstones/SDX50M/ssr_esoc_history.txt /data/lge_modem_ramdump_loc/ssr_esoc_history.txt
# SDX55M
    copy /data/vendor/tombstones/SDX55M/ssr_esoc_history.txt /data/logger/ssr_esoc_history.txt
    copy /data/vendor/tombstones/SDX55M/ssr_esoc_history.txt /data/lge_modem_ramdump_loc/ssr_esoc_history.txt
    copy /data/vendor/tombstones/SDX55M/latest_issue_report.txt /data/lge_modem_ramdump_loc/latest_issue_report.txt
# ESOC common
    chmod 0444 /data/logger/ssr_esoc_history.txt
    chmod 0444 /data/lge_modem_ramdump_loc/ssr_esoc_history.txt
    chmod 0444 /data/lge_modem_ramdump_loc/latest_issue_report.txt
# common
#    rm /data/vendor/lge_ssrdump/lgedump_esoc.tar
#    rm /data/vendor/lge_ssrdump/lgedump.tar.gz

on property:persist.vendor.ssr.cnt=*
    trigger cp-ssr-dump
    start ssrdump_noti

on property:persist.vendor.ssr.esoc_cnt=*
    trigger cp-ssr-dump
    start esoc_ssrdump_noti

on property:debug.ssr.dump_remove=1
    rm /data/vendor/lge_ssrdump/lgedump_esoc.tar
    rm /data/vendor/lge_ssrdump/lgedump.tar.gz
    setprop debug.ssr.dump_remove 0


# LGE_E /* FEATURE_LGE_COLLECT_RAMDUMP */